#first-div{
    background-color: blueviolet;
}

#second-div{
    background-color: black;
}

p{
    background-color: aqua;
}
body{
    background-image: url("background.jpg");
}
a.button1{
    background-color: blanchedalmond;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    color:#000000;
    text-align: center;
    transition: all 0.15s;
    }

a.button1:hover{
    color: #dddddd;
    border-color:#DDDDDD;
}
a.button1:active{
    color: #0000ff;
    border-color: #0800ff
}
